---
import Layout from "@layouts/Layout.astro";

let APIROCKET_ECOMMERCE_TOKEN = process.env.APIROCKET_ECOMMERCE_TOKEN;
if (!APIROCKET_ECOMMERCE_TOKEN) {
    APIROCKET_ECOMMERCE_TOKEN = import.meta.env.APIROCKET_ECOMMERCE_TOKEN;
}

let myQuery = `query MyQuery {
  Orders {
    correo
    codigoPedido
    cart
    sent
    id
    createdAt
  }
}





`;

async function fetchApirocket(query: String) {
    const options = {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${APIROCKET_ECOMMERCE_TOKEN}`,
        },
        body: JSON.stringify({ query }),
    };

    const data = await fetch("https://graphql.apirocket.io", options).then(
        (response) => response.json(),
    );
    //console.log(data);
    return data;
}

let orders = (await fetchApirocket(myQuery)).data.Orders;
//console.log(orders);

interface apirocketInterfaz {
    id: string;
    correo: string;
    carrito: string;
    sent: boolean;
    codigoPedido: number;
    createdAt: string;
}

//for (let iterable of orders){
//iterable.cart = JSON.parse(iterable.cart);
//iterable.cart.carrito = JSON.parse(iterable.cart.carrito);
//console.log()
//console.log(iterable.cart.carrito)
//}

//console.log(orders);
---

<Layout>
    <div>
        <input type="checkbox" name="mostrarEnvio" id="mostrarEnvio" checked />
        <label for="mostrarEnvio">Mostrar enviado</label>
    </div>
    <div>
        <input
            type="text"
            name="buscar"
            id="buscar"
            class="border-solid border"
        />
        <label for="buscar">Buscar</label>
    </div>

    <div>
        <button type="button" id="enviarSeleccion">enviar seleccion</button>
    </div>
    <div>
        <button type="button" id="borrarSeleccion">borrar seleccion</button>
    </div>

    <table class="w-full *:text-center">
        <thead class="bg-gray-200">
            <th>Correo</th>
            <th>codigo de pedido</th>
            <th id="envio">enviado</th>
            <th id="fecha">fecha</th>
            <th>enviar</th>
            <th>borrar</th>
        </thead>
        <tbody>
            {
                orders.map((data: apirocketInterfaz) => (
                    <tr class="fila">
                        <td>{data.correo}</td>
                        <td>{data.codigoPedido}</td>
                        <td class="enviado" id="enviado">
                            {data.sent && "true"}
                            {!data.sent && "false"}
                        </td>
                        <td class="fecha">{data.createdAt}</td>
                        <td
                            id="enviar"
                            class="hover:bg-green-500 hover:cursor-pointer *:hover:cursor-pointer"
                        >
                            {" "}
                            <button type="button" id={data.id}>
                                enviar
                            </button>
                        </td>
                        <td
                            id="borrar"
                            class="hover:bg-red-500 hover:cursor-pointer *:hover:cursor-pointer"
                        >
                            <button type="button" id={data.id}>
                                borrar
                            </button>
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</Layout>

<script>
    let tbody = document.querySelector("tbody");

    //             ***** ENVIAR PEDIDO *****           //

    let botonEnviarTodos = document.querySelector("#enviarSeleccion");
    botonEnviarTodos?.addEventListener("click", enviarSeleccion);

    async function eventoDelegadoEnviar(e: Event) {
        let td = (e.target as HTMLElement).closest("td");
        if (!td) {
            return;
        }
        console.log(td.id);
        if (td.id != "enviar") {
            return;
        }

        let boton = td.querySelector("button");
        enviarPedido(boton);
        crearDialog("El producto ha sido asignado como enviado");
    }

    async function enviarSeleccion() {
        seleccion.map((fila: any) => {
            let boton = fila.querySelector("button");
            enviarPedido(boton);
            crearDialog("El producto ha sido asignado como enviado");
        });
    }

    async function enviarPedido(boton: any) {
        if (boton) {
            if (boton.id == null) {
                return;
            }
            let id = boton.id;
            try {
                const response = await fetch("/api/sendOrder", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ id }),
                });
                const result = await response.json();

                console.log("Respuesta del servidor:", result);

                if (result) {
                    //Cambio el texto de false a true
                    if (boton.parentElement == null) {
                        return;
                    }
                    if (boton.parentElement.parentElement == null) {
                        return;
                    }
                    let textoEnviar =
                        boton.parentElement.parentElement.querySelector(
                            "#enviado",
                        );
                    if (!textoEnviar) {
                        return;
                    }
                    textoEnviar.textContent = "true";
                }
            } catch (error) {
                console.error("Error en la petición:", error);
            }
        }
    }

    document.addEventListener("click", eventoDelegadoEnviar);

    //             ***** BORRAR PEDIDO *****           //
    let botonBorrarTodos = document.querySelector("#borrarSeleccion");
    botonBorrarTodos?.addEventListener("click", borrarSeleccion);

    async function eventoDelegadoBorrar(e: Event) {
        let td = (e.target as HTMLElement).closest("td");
        if (!td) {
            return;
        }
        if (td.id != "borrar") {
            return;
        }
        let boton = td.querySelector("button");
        borrarPedido(boton);
    }

    async function borrarSeleccion() {
        seleccion.map((fila: any) => {
            let boton = fila.querySelector("button");
            borrarPedido(boton);
            crearDialog("El producto ha sido asignado como enviado");
        });
    }

    async function borrarPedido(boton: any) {
        if (boton) {
            console.log();
            if (boton.id == null) {
                return;
            }

            let id = boton.id;
            try {
                const response = await fetch("/api/deleteOrder", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ id }),
                });
                const result = await response.json();

                console.log("Respuesta del servidor:", result);

                if (result) {
                    //Cambio el texto de false a true
                    boton.parentElement?.parentElement?.remove();
                    crearDialog("El producto ha sido eliminado");
                }
            } catch (error) {
                console.error("Error en la petición:", error);
            }
        }
    }

    document.addEventListener("click", eventoDelegadoBorrar);

    let creciente = false;
    let selectorFecha = document.querySelector("#fecha");
    selectorFecha?.addEventListener("click", ordenarPorFecha);

    //             ***** ORDENAR POR FECHA *****           //

    function ordenarPorFecha() {
        if (!tbody) {
            return;
        }
        let fechas = document.querySelectorAll(".fecha");
        let fechasArray = Array.from(fechas);
        console.log(fechasArray);

        if (creciente == false) {
            fechasArray.sort((fecha1: any, fecha2: any) => {
                fecha1 = Date.parse(fecha1.textContent);
                fecha2 = Date.parse(fecha2.textContent);

                console.log(fecha1);
                console.log(fecha2);

                if (fecha1 > fecha2) {
                    console.log("return 1");
                    return 1;
                }
                if (fecha1 == fecha2) {
                    console.log("return 0");
                    return 0;
                } else {
                    console.log("return -1");
                    return -1;
                }
            });
            console.log(fechas);
            enviadoCreciente = false;
            creciente = true;
        } else {
            fechasArray.reverse();
            enviadoCreciente = false;
            creciente = false;
        }

        for (let iterable of fechasArray) {
            if (!iterable.parentElement) {
                return;
            }
            tbody.append(iterable.parentElement);
        }
    }

    let enviadoCreciente = false;
    let selectorEnvio = document.querySelector("#envio");
    selectorEnvio?.addEventListener("click", ordenarPorEnvio);

    //             ***** ORDENAR POR ENVIO *****           //

    function ordenarPorEnvio() {
        if (!tbody) {
            return;
        }
        let enviado = document.querySelectorAll(".enviado");
        let enviadoArray = Array.from(enviado);

        if (enviadoCreciente == false) {
            enviadoArray.sort((fila1: any, fila2: any) => {
                if (fila1.textContent.trim() == "true") {
                    fila1 = true;
                } else {
                    fila1 = false;
                }
                if (fila2.textContent.trim() == "true") {
                    fila2 = true;
                } else {
                    fila2 = false;
                }

                //console.log(fila1);
                //console.log(fila2)

                if (fila1 > fila2) {
                    console.log("return 1");
                    return 1;
                }
                if (fila1 == fila2) {
                    console.log("return 0");
                    return 0;
                } else {
                    console.log("return -1");
                    return -1;
                }
            });
            enviadoCreciente = true;
            creciente = false;
        } else {
            enviadoArray.reverse();
            creciente = false;
            enviadoCreciente = false;
        }

        for (let iterable of enviadoArray) {
            if (!iterable.parentElement) {
                return;
            }
            tbody.append(iterable.parentElement);
        }
    }

    let mostrarEnvioCheckbox = document.querySelector(
        "#mostrarEnvio",
    ) as HTMLInputElement;
    if (mostrarEnvioCheckbox) {
        mostrarEnvioCheckbox.addEventListener("change", mostrarEnvio);
    }

    //             ***** ESCONDER ENVIADOS *****           //

    function mostrarEnvio() {
        console.log(mostrarEnvioCheckbox.checked);
        let enviado = document.querySelectorAll(".enviado");
        let enviadoArray = Array.from(enviado);
        enviadoArray.map((envio: any) => {
            if (envio.textContent.trim() == "true") {
                if (!mostrarEnvioCheckbox.checked) {
                    console.log("nya");
                    envio.parentElement.style.display = "none";
                } else {
                    envio.parentElement.style.display = "";
                }
            }
        });
    }

    let buscar = document.querySelector("#buscar");
    buscar?.addEventListener("change", buscarTabla);

    //             ***** BUSCAR EN TABLA *****           //

    function buscarTabla() {
        if (!buscar) {
            return;
        }
        let texto = (buscar as HTMLInputElement).value;
        console.log(texto);
        //Escondo todas las filas
        let filas = document.querySelectorAll(".fila");
        let filasArray = Array.from(filas);
        filasArray.map((fila: any) => {
            console.log(fila);
            fila.style.display = "none";
            let elementos = fila.querySelectorAll("td");
            let elementosArray = Array.from(elementos);
            elementosArray.map((elemento: any) => {
                if (elemento.textContent.includes(texto)) {
                    fila.style.display = "";
                }
            });
        });
    }

    function crearDialog(texto: string) {
        let dialog = document.createElement("dialog");
        let p = document.createElement("p");
        let button = document.createElement("button");
        button.textContent = "cerrar";
        p.textContent = texto;
        dialog.append(p);
        dialog.append(button);
        document.querySelector("body")?.append(dialog);
        button.classList.add(
            "self-center",
            "px-8",
            "py-3",
            "font-semibold",
            "rounded",
            "dark:bg-violet-600",
            "dark:text-gray-50",
        );

        dialog.classList.add(
            "fixed",
            "inset-0",
            "m-auto",
            "w-1/2",
            "h-1/4",
            "text-center",
            "*:m-10",
        );
        dialog.showModal();

        button.addEventListener("click", (e) => {
            dialog.close();
        });
    }

    //             ***** SELECCIONAR MULTIPLES TABLAS *****           //
    let seleccion: any[] = [];
    async function eventoDelegadoSeleccionar(e: Event) {
        let tr = (e.target as HTMLElement).closest("tr");
        if (!tr) {
            seleccion.map((fila: any) => {
                fila.style.backgroundColor = "";
            });
            seleccion = [];
            return;
        }
        console.log("hola!");

        tr.style.backgroundColor = "lightblue";
        if (!seleccion.includes(tr)) {
            seleccion.push(tr);
        }
    }

    document.addEventListener("click", eventoDelegadoSeleccionar);
</script>
