---
import GeneralHeader from "../components/General/GeneralHeader.astro";
import Nav from "@general/GeneralNav.astro";
import Footer from "@general/GeneralFooter.astro";
import GeneralTicker from "@components/General/GeneralTicker.astro";
import GeneralCarritoLateral from "@components/General/GeneralCarritoLateral.astro";

const {title, lang, flag, arrayTexto, mostrarTicker = false, botonIA = true, mostrar=true, mostrarCarrito=true} = Astro.props
console.log(mostrarCarrito)
---





<GeneralHeader title={title} lang={lang} />
{mostrarTicker &&<GeneralTicker arrayTexto={arrayTexto} />}


  <body class="bg-white">






    <Nav botonIA={botonIA} mostrar={mostrar}/>
    <main>
    <slot>

    </slot>

    <div x-data={`{ mostrarCarrito: ${mostrarCarrito} }`} x-show="mostrarCarrito==true">
      <GeneralCarritoLateral pagina="carrito"></GeneralCarritoLateral>
    </div>

    
  </main>
    <Footer flag={flag}, mostrar={mostrar}/>

    <script>
      import lozad from 'lozad'
      import Alpine from 'alpinejs'
      import collapse from '@alpinejs/collapse'


      const observer = lozad(); // lazy loads elements with default selector as '.lozad'
      observer.observe();
      Alpine.plugin(collapse)


import Swiper from 'swiper';
import { Navigation } from 'swiper/modules';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

  import clonar from "@utils/localStorage"
  

const stored = localStorage.getItem("carrito");
let carrito
if (stored!=null){
  carrito = JSON.parse(stored)
}

  Alpine.store("carritoCheckout", carrito);





    </script>
</body>